body {
    width: 100vw; /*L'image prend toute l'ecran | Le style est nice */
    height: 100vh; 
    background-color: white;
}

#container3D {
    width: 100vw;
    height: 100vh;
}

.catch-phrase {
    font-size: 1vw;
    padding: 4vh 0 0vh 0;
}






